
# Python and packaging
*.pyc
__pycache__

# Build
build/*
Voiager.egg-info/*

# Github
.github/*

# Documentation
docs/_*

# Input files
catalogs/*

# Output files
results/Beyond2pt/C_mock_lightcone_*/chains*
results/Beyond2pt/C_mock_lightcone_*/plots/*.pdf
results/Beyond2pt/C_mock_lightcone_*/plots/*.jpg