
# Python and packaging
*.pyc
__pycache__

# Build
build/*
Voiager.egg-info/*

# Github
.github/*

# Documentation
docs/_*

# Input files
catalogs/*

# Output files
results/Beyond2pt/C_mock_lightcone_0240/chains*
results/Beyond2pt/C_mock_lightcone_0240/plots/*.pdf
results/Beyond2pt/C_mock_lightcone_0240/plots/*.png